# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Alembic cache
*.pyc

# Pytest
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/

# Logs
*.log

PROJECT_MASTER.md
